<html>
<head>
    <title>{% block title %}My Site{% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}</p>
    <form method="post" action="{% url 'accounts:logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <p><a href="{% url 'accounts:login' %}">Login</a> | <a href="{% url 'accounts:register' %}">Register</a></p>
{% endif %}
    {% block content %}
    <!--page specific content will be rendered here-->
    {% endblock %}        
</body>
</html>